*{
  box-sizing: border-box;
}
body{
  background-image: url('./../img/fondo4.png');
  background-size: cover;
}
.urgent {
  background-color: rgb(245, 117, 136);
}
.daily {
  background-color: rgb(53, 252, 186);
}
.monthly {
  background-color: rgb(226, 226, 74);
}
.noPriority {
  background-color: white;
} 
