@import url(reset.css);

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./../img/fondo4.png");
  background-size: cover;
  background-position: center;
}

.wrapper {
  margin: 0px auto;
  max-width: 1000px;
  background-color: rgb(32, 67, 68);
  border-radius: 10px;
}
#task {
  width: calc(50% - 10px);
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
select {
  padding: 10px;
  width: calc(40% - 10px);
}
header {
  background-color: rgb(32, 67, 68);
  color: white;
  padding: 30px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

#createTaskForm {
  background-color: #ffffcc;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 10px;

  & #inputCreateTask {
    width: 50%;
  }
  & #create {
    width: calc(10% - 10px);

    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4bbd26;
    color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2d7514;
      color: whitesmoke;
    }
    &:active {
      background-color: #4bbd26;
      color: whitesmoke;
    }
  }
}

.myTask {
  width: 100%;
  text-align: center;

  background-color: cadetblue;
  padding: 15px 0px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
}
section#filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 40px 15px;
}

section#taskList div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-left: 15px;
  padding-bottom: 30px;
  word-wrap: break-word;

  & p {
    width: calc(90% - 10px);
    padding: 20px 10px;
    border-radius: 5px;
  }
  & button {
    width: calc(10% - 10px);
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid rgba(213, 17, 17, 0.762);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(213, 17, 17, 0.762);
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(213, 17, 17, 0.762);
      color: whitesmoke;
    }
    &:active {
      background-color: rgba(213, 17, 17, 0.762);
      color: whitesmoke;
    }
  }
}
p.urgent {
  background-color: rgb(245, 117, 136);
}
p.daily {
  background-color: rgb(53, 252, 186);
}
p.monthly {
  background-color: rgb(226, 226, 74);
}
p.noPriority {
  background-color: white;
}
